//SCSS Color Style Guide for DRF

//Main Colors --------------------------------------------------------------------------------------
$DRFBlue: #0702d1;
$DRFRed: #da1301;
$DRFYellow: #feab06;
$DRFGreen: #1dd79d;

//Neutral Tones --------------------------------------------------------------------------------------
$N0: #ffffff;
$N3: #f7f7f8; //used for white text on a black background or gray backgrounds
$N5: #f2f2f4; //off-white background
$N10: #dadde0;
$N30: #a5acb1; //used as gray text on a black background
$N40: #858e94; //used when we need a gray background
$N50: #6d757e; //used as gray text on a white background
$N80: #313543;
$N90: #1b202d; //used for black text on a white background
$N100: #050b1a;

//Feedback Colors --------------------------------------------------------------------------------------
//We use these 4 colors to give the user knowledge of the range of possible actions and their results.
//They should be used only as this and nowhere else.

$informational: #1c37c5; //a shade of blue used to indicate hyperlinks + positive feedback
$error: #e03229; //a shade of red used to indicate failure
$warning: #f6b610; //a shade of yellow used for feedback text
$success: #12a577; //a shade of green used to indicate success

//Blues--------------------------------------------------------------------------------------
$B90: #0503a6;
$B70: #0702d1; //same as $DRFBlue
$B50: #040bec;
$B40: #2439f5;
$B5: #d8ddfd;

//Reds--------------------------------------------------------------------------------------
$R90: #b80f00;
$R70: #da1301; //same as $DRFRed
$R50: #f11809;
$R40: #f24e45;
$R5: #fbddda;

//Yellows--------------------------------------------------------------------------------------
$Y90: #eb9c00;
$Y70: #feab06; //same as $DRFYellow
$Y50: #fec025;
$Y40: #fad552;
$Y5: #fef8d8;

//Greens--------------------------------------------------------------------------------------
$Y90: #15b784;
$Y70: #1dd79d; //same as $DRFGreen
$Y50: #35e3ac;
$Y40: #70e6c0;
$G5: #dafbf1;
