@import "colors.scss";
@import "fonts.scss";

* {
    box-sizing: border-box;
}

body {
    background-color: $N5;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10% 0%;
    padding: 0;
    width: 100%;
}

.rowa {
    margin: 0;
}

.navbar {

    background: white;
    box-shadow: 1px 3px 2px -2px rgba(0,0,0,0.4);

    a {
        color: #050B1A !important;
        font-family: CircularStd-Bold, Helvetica, Arial, sans-serif;
        font-size: 1rem;
        color: $N90;
        line-height: 150%;
    }
}

.addCompanyDiv {
    position: absolute;
    margin-left: 18vw;
    margin-top: 70vh;

    img {
        width: 2.5vw;
        border-radius: 5%;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.pipelineButtons {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

    div {
        margin: 0 .75% .5% 0;
    }

    img {
        border-radius: 5%;
        width: 2%;
        height: 2%;
        margin-right: .75%;
        cursor: pointer;
    }
}

.topNav a {
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    padding: 0 !important;
    margin: .5rem 1rem .5rem .5rem;

    &:hover {
        border-bottom: 3px solid blue;
    }
}

.pipelineLayout {
    margin: 5rem 5vw 0vh 5vw;
    padding: 0;
}

.pipelineColumns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.companylayout{
    margin: 0 !important;
    width: 100vw !important;
    max-width: none !important;
}

.cvheader{
    width: 100vw !important;
    max-width: none !important;
    padding: 1vh 5vw;
    background: $N5;
}

.cvbody{
    width: 100vw !important;
    max-width: none !important;
    padding: 1vh 5vw;
}

.cvheader1{
    padding-top: 12.5vh !important;
}

.questions_left{
    padding-top: 1%;
    padding-bottom: 1.5%;

    small{
        color: $N50;
    }
}

.graywhite{
    color: $N50;
}

.infoButton{
    background-color: $informational !important;
    border: none !important;
}

.warningButton{
    background-color: $warning !important;
    border: none !important;
}

.founderGroup{
    background: $N5;
    padding: 3%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .founder{
        width: 35%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        div{
            width: 87.5%;
        }

        .imgDiv{
            width: 7.5%;

            img{
                width: 100%;
                margin-right: 5% !important;
            }
        }

        p{
            margin: 0 !important;
        }
    }   
}